ul.ulLineal li {
    list-style: none;
    float: left;
    margin-right: 0px;
}

ul.ulLineal li i {
    color: #ffca11;
}

.input-group.mb-3.search {
    margin: 20px auto;
}

button:focus {
    outline: 0px;
}

.btn.btn-orange {
    background: #ffca11;
    color: rgb(255, 255, 255);
}

li.welcome {
    margin: 10px;
    padding: 0 10px;
}

.row._search {
    margin-bottom: 50px;
}