<div class="container topbar">
    <div class="row">
        <div class="col-md-2 col-sm-12  text-center ">
            <a routerLink="/"><img src="/assets/images/logo.png" width="200"></a>
        </div>
        <div class="col-md-8 col-sm-12">
            <form class="form-inline">
                <div class="input-group mb-3 search">
                    <input type="text" class="form-control" placeholder="Que estás buscando?"
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="!nameUser" class="col-md-2 col-sm-12 text-center">
            <div class="iconosFuncionales">
                <ul class="ulLineal">
                    <li *ngIf="btnHidden">
                        <button class="form-control form-control-lg btn btn-orange" mat-raised-button
                            (click)="login()">Entrar</button>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="nameUser" class="col-md-2 col-sm-12 text-center">
            <button class="form-control form-control-lg btn btn-orange menu" mat-raised-button [matMenuTriggerFor]="beforeMenu">Menu</button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <!--<button mat-menu-item routerLink="micuenta">Mi cuenta</button>-->
                <button mat-menu-item (click)="tosell()">Publicar</button>
                <button mat-menu-item (click)="logout()">Salir</button>
            </mat-menu>
        </div>
    </div>