<div class="container-fliud yellow">
    <div class="container yellow top">
        <div class="row textHeader">
            <div class="col-md-6 col-4 text-device hide-sm">
                <span class="span">
                    <i class="fas fa-phone-alt"></i>
                    (+57)300 4525218
                </span>
                <span class="divisor"></span>

                <span class="span">
                    <i class="fas fa-envelope"></i>
                    info@arriendoen.com
                </span>
                <span class="divisor"></span>
                <span class="span">
                    <span class="social"><i class="fab fa-facebook-square"></i></span>
                    <span class="social"><i class="fab fa-instagram-square"></i></span>
                    <span class="social"><i class="fab fa-linkedin"></i></span>
                </span>

                <span class="divisor"></span>
            </div>
            <div class="col-md-3 col-4 text-device">

            </div>

            <div class="col-md-3 col-12 text-rigth text-device" *ngIf="!nameUser">
                <span class="span right">
                    <button class="btnWithoutBorder" (click)="login()"><i class="fas fa-user"></i> Entrar</button>
                </span>
            </div>
            <div class="col-sm-3 col-12 text-rigth text-device" *ngIf="nameUser">
                <span class="span right">
                    <button class="btnWithoutBorder" (click)="logout()"><i class="fas fa-door-open"></i> Cerrar sesión</button>
                </span>
                <span class="span right">
                    <button class="btnWithoutBorder" (click)="tosell()"><i class="fas fa-home"></i> Publicar</button>
                </span>
                
            </div>
        </div>
    </div>
</div>
<div class="container topbar">
    <div class="row">
        <div class="col-md-2 col-sm-12  text-center ">
            <a routerLink="/"><img src="/assets/images/logo.png" width="200"></a>
        </div>
        <div class="col-md-8 col-sm-12">

        </div>

    </div>
</div>