a.btn.btn-orange {
    background: #ffca11;
    color: white;
}

.card {
    margin: 46px;
}

input.input-text.qty.text {
    width: 40px;
    margin: 0 5px 0 0;
}

img.flImg {
    float: left;
    width: 73px;
    height: 70px;
    margin: 0 1px 0 0;
}

.yellow {
    background: #ffc600;
    padding: 20px 10px;
    color: black;
    
}