/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body,p,a {
    color:#2e3133;
    font-size: 0.9rem;

}

.detail {
    margin: 0;
}

div.ico {
    float: left;
    width: 37px;
}
i.fas.fa-mobile,i.fas.fa-map-marker-alt {
    margin-left: 5px;
}

a.btn.btn-orange {
    background: #ffca11;
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-body-content {
    height: 100%;
    overflow: hidden !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #ffca11 !important;
}


.encabezado {
    float: left;
    clear: right;
    position: absolute;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ffca11;
}

.container-fluid.footer {
    margin-top: 0px;
    background: #444444;
    color: white;
}
li{ 
list-style: none
}


@media (max-width: 320px) {

    mat-spinner.mat-spinner.mat-progress-spinner.mat-primary.mat-progress-spinner-indeterminate-animation.ng-star-inserted {
        margin: 6.8em auto;
    }
}

@media (max-width: 600px) {

    .mat-form-field {
        width: 145px;
    }
    
    .filter {
        height: 245px !important;
        margin: 13px !important;
    }

    a.btn.ng-star-inserted {
        width: 334px !important;
    }

    img.imagenP {
        width: 308px !important;
    }

    .hide-sm {
        display: none;
    }

    ._l {
        float: left;
        padding: 0px !important;
        margin: 6px !important;
        height: 491px !important;
        width: 332px !important;
    }

    .form-group {
        margin-left: 0rem !important;
    }

    img.img-fluid.portadaLogin {
        display: none;
    }
}



.yellow {
    background: #ffca11;
}

span.divisor {
    border-right: 1px dotted #333;
    width: 1px;
    height: 16px;
    display: block;
    float: left;
    margin:0 20px;

}

.container.yellow.top {
    height: 35px;
    padding: 8px 0px;
}

span.span {
    float: left;
}

span.social {
    margin: 5px;
}

span.span.right {
    float: right;
}

.offPadding {
    padding: 0;
}

button.btnWithoutBorder {
    border: 0;
    background: none;
}

.container.topbar {
    height: 79px;
    padding: 7px 0;
}

.filter {
    width: 100%;
    height: 131px;
    background: #ffffff;
    margin: -45px 0 45px 0;
    border-radius: 5px;
    border-bottom: 2px solid #7e7e7e;
    border-left: 1px solid #7e7e7e;
    border-right: 1px solid #7e7e7e;
    border-top: 4px solid #ffcb18;
    padding: 20px;
}

.btn.btn-orange {
    background: #ffca11;
    color: white;
}

img.img-fluid.portadaLogin {
    border: 7px solid #ffca11;
    box-shadow: 4px 5px 8px #ccc;
}


.img-fluid {
    max-width: 4529px;
    height: auto;
    width: 100%;
}

.form-group {
    margin-left: 3rem;
}

span.detailProp {
    float: left;
    padding: 0 .4em 0 0;
}

span.detail {
    float: right;
    padding: 0 0 0 .4em;
    font-weight: 500;
}

p.descrip {
    padding: 7px;
}

p.descrip:after {
    content: "";
    display: block;
    overflow: hidden;
    height: 1em;
}

p.descrip:after {
    border-bottom: 1px dotted rgba(0,0,0,.12);
}

.carta {
    border: 1px solid #ccc;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 2px 2px #ccc;
}

span.etiqueta {
    padding: 5px 10px;
    text-transform: uppercase;
    color: white;
    font-weight: inherit;
    border-radius: 5px;
    position: absolute;
    margin: 10px;
}

p.precio {
    font-size: 21px;
    font-weight: bold;
    color: #001c80;
}

img.imagenP {
    border-radius: 5px 5px 0 0;
}

button.form-control.form-control-lg.btn.btn-detail {
    border-radius: 5px;
    padding: 0px;
    background: #ffffff;
    width: 97px;
    color: black;
    border: 1px dotted #acacac;
}