<div class="container-fluid footer padding">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-3 ">
                <a href="https://jirehpro.co/"> Aviso de Privacidad</a>
            </div>
            <div class="col-12 col-md-3">
                <a href="https://jirehpro.co/"> Terminos y Condiciones</a>
            </div>
            <div class="col-12 col-md-3">
                <a href="https://jirehpro.co/"> Publicidad</a>
            </div>
            <div class="col-12 col-md-3">
                <a href="https://jirehpro.co/"> Preguntas Frecuentes</a>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer font-small black">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright      <a href="https://jirehpro.co/"> Jirehpro.co</a>
    </div>
    <!-- Copyright -->
</footer>